<h1>Employees</h1>

<h2><%= @employee.first_name %> <%= @employee.last_name %></h2>
<%= render partial: "employee", locals: {employee: @employee} %>

<%= link_to 'Delete', "/employees/#{@employee.id}", method: :delete %>