<!-- <form action="/send_form" method="post">
<div>
  <label for="form_message">Enter Your Contact Information</label>
  <input type="text" id="first_name" name="first">
  <input type="text" id="last_name" name="last">
  <input type="text" id="email" email="email">
  <input type="text" id="phone" phone="phone">
<div>
  <input type="submit" value="Input Info">
</div>
</form> -->

<%

