<button onclick="getData()">Start</button>
<button onclick="showAll()">Show All</button>
<button onclick="showPolice()">Show Police</button>
<div id="employees"></div> 
<!-- <p id="first">Hellow</p>
<p id="second">Goobye</p>
<p id="third">Welcome</p>
<p id="fourth">Bai Bai</p>
<button onclick="changeColors()">Start</button> -->